@import 'compass/css3';
@import 'compass/css3/transform';

$blk: #000;
$wht: #fff;
$c-green: #24898f;
$c-purple: #9e1b81;
$c-red: #f5392c;
$c-lime: #33a341;
$c-size: 5vw;
$cp-yellow: #d69100;

main {
	height: 100vh;
	position: absolute;
	text-align: center;
	width: 100vw;
}

figure {
	@include animation(rotation 5s ease-in-out infinite alternate-reverse);
	@include inline-block;
	@include transform(rotateX(0deg) rotateY(0deg));
	@include transform-style(preserve-3d);
	height: 10vw;
	margin: 0 8vw;
	width: 10vw;

	div {
		height: 68%;
		padding-top: 32%;
		position: absolute;
		width: 100%;
	}
}

section {
	@include transform(translateY(-50%));
	@include transition(top 1s ease-in);
	position: relative;
	top: 50%;
	width: 100vw;
}

.logo {
	@include animation(glow 4s cubic-bezier(.45, .05, .55, .95) infinite alternate-reverse);
	background-image: url('cpsharp.png');
	background-size: contain;
	cursor: pointer;
	height: 150px;
	left: 2vw;
	position: absolute;
	top: 2vw;
	width: 150px;
}

.film-reel {
	@include animation(rollfilm 20s infinite);
	background: url('filmreel.gif') no-repeat;
	background-size: contain;
	height: 18.5vh;
	position: absolute;
	top: 50vh;
	width: 100%;

}

.download {
	content: 'Download';
	cursor: hand;
	font-weight: bold;
	height: 3vh;
	letter-spacing: .2vw;
	line-height: 2vh;
	margin-left: 8vh;
	width: 150px;

	&:hover {
		background: $cp_yellow;
		border-color: $cp_yellow;
		color: $wht;
	}
}

.narco {
	background: url('narcos.jpg') no-repeat;
}

.in_time {
	background: url('intime.jpg') no-repeat;
}

.glitz {
	@include transition(all 2s cubic-bezier(.13, 1.14, .32, 1.36));
	@include opacity(.5);

	background-repeat: no-repeat;
	background-size: contain;
	height: 65vh;
	position: absolute;
	right: 2vw;
	width: 30vw;
}

.glitz-hide {
	right: -1000px;
}

.front {
	@include translate3d(0, 0, $c-size);
	background: $c-green;
}

.left {
	@include transform(rotateY(-90deg) translate3d(0, 0, $c-size));
	background: $c-purple;
}

.right {
	@include transform(rotateY(90deg) translate3d(0, 0, $c-size));
	background: $c-red;
}

.bottom {
	@include transform(rotateX(-90deg) translate3d(0, 0, $c-size));
	background: $c-lime;
}

.list_container {
	@include opacity(0);
	@include transition(all 1s ease-in-out);

	position: absolute;
	top: -1000px;
	width: 100vw;
	z-index: 100;
}

.be_seen {
	@include opacity(1);

	top: 0;
}

$row-color: rgba(66, 66, 66, .75);

html {
	height: 100%;
	width: 100%;
}

body {
	background: $blk;
	color: $wht;
	font: 2vw 'Open Sans', sans-serif;
	height: 100vh;
	overflow: hidden;
	text-align: right;
}

.rolldown-list {
	left: 50%;
	margin: 0 0 0 -25%;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 50%;

	li {
		@include border-radius(.5em);
		display: block;
		font-size: 2vh;
		letter-spacing: .4vw;
		list-style: none;
		margin-bottom: .125em;
		padding: 1em;

		&:nth-child(2n) {
			background-color: lighten($row-color, 10%);

		}

		&:nth-child(2n+1) {
			background-color: $row-color;
		}

		a {
			@include animation(glow 4s cubic-bezier(.45, .05, .55, .95) infinite alternate-reverse);

			color: $c-lime;
			font-weight: normal;
			text-decoration: none;

			&:hover {
				font-weight: bold;
			}
		}
	}
}

@include keyframes(rolldown) {
	0% {
		@include transform(rotateX(180deg) perspective(500px));
		visibility: visible;
	}

	70% {
		@include transform(rotateX(-20deg));
		visibility: visible;
	}

	100% {
		@include transform(rotateX(0deg));
		visibility: visible;
	}
}

@include keyframes(rotation) {
	0%, 10% {
		@include transform(rotateX(0deg) rotateY(0deg))
	}

	98%, 100% {
		@include transform(rotateX(180deg) rotateY(180deg))
	}
}

@include keyframes(glow) {
	0% {
		@include opacity(.5)
	}

	75%, 100% {
		@include opacity(1)
	}
}

@include keyframes(rollfilm) {
	0% {
		@include translateX(-100vw)
	}

	50% {
		@include translateX(100vw)
	}
}
