@-moz-keyframes rolldown {
  0% {
    -moz-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
    visibility: visible; }
  70% {
    -moz-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
    visibility: visible; }
  100% {
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible; } }
@-webkit-keyframes rolldown {
  0% {
    -webkit-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
    visibility: visible; }
  70% {
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
    visibility: visible; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible; } }
@keyframes rolldown {
  0% {
    -moz-transform: rotateX(180deg) perspective(500px);
    -ms-transform: rotateX(180deg) perspective(500px);
    -webkit-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
    visibility: visible; }
  70% {
    -moz-transform: rotateX(-20deg);
    -ms-transform: rotateX(-20deg);
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
    visibility: visible; }
  100% {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible; } }
@-moz-keyframes rotation {
  0%, 10% {
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg); }
  98%, 100% {
    -moz-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg); } }
@-webkit-keyframes rotation {
  0%, 10% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg); }
  98%, 100% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg); } }
@keyframes rotation {
  0%, 10% {
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg); }
  98%, 100% {
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg); } }
@-moz-keyframes glow {
  0% {
    opacity: 0.5; }
  75%, 100% {
    opacity: 1; } }
@-webkit-keyframes glow {
  0% {
    opacity: 0.5; }
  75%, 100% {
    opacity: 1; } }
@keyframes glow {
  0% {
    opacity: 0.5; }
  75%, 100% {
    opacity: 1; } }
@-moz-keyframes rollfilm {
  0% {
    -moz-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  50% {
    -moz-transform: translateX(100vw);
    transform: translateX(100vw); } }
@-webkit-keyframes rollfilm {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  50% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }
@keyframes rollfilm {
  0% {
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  50% {
    -moz-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }
figure {
  -moz-animation: rotation 5s ease-in-out infinite alternate-reverse;
  -webkit-animation: rotation 5s ease-in-out infinite alternate-reverse;
  animation: rotation 5s ease-in-out infinite alternate-reverse;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 10vw;
  margin: 50%;
  width: 10vw; }
  figure div {
    height: 8%;
    padding-top: 32%;
    position: absolute;
    width: 100%; }

section {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: top 1s ease-in;
  -o-transition: top 1s ease-in;
  -webkit-transition: top 1s ease-in;
  transition: top 1s ease-in;
  position: relative;
  height: inherit;
  width: inherit; }

ul.rolldown-list {
  left: 0;
  margin: 0 -27px 0 0; }
ul.rolldown-list li {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  font-size: 0;
  height: inherit;
  letter-spacing: 7.4vw;
  list-style: none;
  margin-right: 7px;
  text-indent: 0;
  width: 186px; }
ul.rolldown-list#myList {
  float: left;
  margin-left: 45px;
  overflow: visible;
  padding-left: 0;
  position: relative;
  text-align: left;
  width: 100%; }

html {
  height: 100%;
  width: 100%; }

body {
  background: #000;
  color: #fff;
  font: 2vw 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: right;
  margin: 0; }

main {
  height: 100vh;
  width: 100vw;
  margin: 2.2%; }
  main div {
    width: 100vw;
    text-align: center; }

button.download {
  height: 5vh;
  letter-spacing: .1vw;
  margin-left: 0;
  position: relative;
  top: -4vh;
  width: 100%; }

aside.film-reel {
  background-image: url(MoviesPics/right_reel.gif);
  background-position-x: 48px;
  background-size: contain;
  border-left: #808080 solid 1px;
  height: 178px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45vh;
  width: 95%; }

.logo {
  -moz-animation: glow 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate-reverse;
  -webkit-animation: glow 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate-reverse;
  animation: glow 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate-reverse;
  background-image: url("cpsharp.png");
  background-size: contain;
  cursor: pointer;
  height: 150px;
  left: 2vw;
  position: absolute;
  top: 2vw;
  width: 150px; }

.download {
  content: 'Download';
  cursor: hand;
  font-weight: bold;
  height: 3vh;
  letter-spacing: .2vw;
  line-height: 2vh;
  width: 88%;
  margin: 0 4% 0 0;
  border: 0; }
  .download:hover {
    background: #d69100;
    border-color: #d69100;
    color: #fff; }

.front {
  -moz-transform: translate3d(0, 0, 5vw);
  -webkit-transform: translate3d(0, 0, 5vw);
  transform: translate3d(0, 0, 5vw);
  background: #24898f; }

.left {
  -moz-transform: rotateY(-90deg) translate3d(0, 0, 5vw);
  -ms-transform: rotateY(-90deg) translate3d(0, 0, 5vw);
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 5vw);
  transform: rotateY(-90deg) translate3d(0, 0, 5vw);
  background: #9e1b81; }

.right {
  -moz-transform: rotateY(90deg) translate3d(0, 0, 5vw);
  -ms-transform: rotateY(90deg) translate3d(0, 0, 5vw);
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 5vw);
  transform: rotateY(90deg) translate3d(0, 0, 5vw);
  background: #f5392c; }

.bottom {
  -moz-transform: rotateX(-90deg) translate3d(0, 0, 5vw);
  -ms-transform: rotateX(-90deg) translate3d(0, 0, 5vw);
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 5vw);
  transform: rotateX(-90deg) translate3d(0, 0, 5vw);
  background: #33a341; }

.list_container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: absolute;
  top: -1000px;
  width: 100vw;
  z-index: 100; }

.be_seen {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 0; }

/*# sourceMappingURL=style.css.map */
