@import 'compass/css3';
@import 'compass/css3/transform';

$blk: #000;
$wht: #fff;
$c-green: #24898f;
$c-purple: #9e1b81;
$c-red: #f5392c;
$c-lime: #33a341;
$c-size: 5vw;
$cp-yellow: #d69100;
$row-color: rgba(66, 66, 66, .75);
$gray: #808080;

@include keyframes(rolldown) {
  0% {
    @include transform(rotateX(180deg) perspective(500px));
    visibility: visible;
  }

  70% {
    @include transform(rotateX(-20deg));
    visibility: visible;
  }

  100% {
    @include transform(rotateX(0deg));
    visibility: visible;
  }
}

@include keyframes(rotation) {
  0%, 10% {
    @include transform(rotateX(0deg) rotateY(0deg))
  }

  98%, 100% {
    @include transform(rotateX(180deg) rotateY(180deg))
  }
}

@include keyframes(glow) {
  0% {
    @include opacity(.5)
  }

  75%, 100% {
    @include opacity(1)
  }
}

@include keyframes(rollfilm) {
  0% {
    @include translateX(-100vw)
  }

  50% {
    @include translateX(100vw)
  }
}

figure {
  @include animation(rotation 5s ease-in-out infinite alternate-reverse);
  @include inline-block;
  @include transform(rotateX(0deg) rotateY(0deg));
  @include transform-style(preserve-3d);
  height: 10vw;
  margin: 50%;
  width: 10vw;

  div {
    height: 8%;
    padding-top: 32%;
    position: absolute;
    width: 100%;
  }
}

section {
  @include transform(translateY(-50%));
  @include transition(top 1s ease-in);
  position: relative;
  height: inherit;
  width: inherit;
}

ul {
  &.rolldown-list {
    left: 0;
    margin: 0 -27px 0 0;
  }

  &.rolldown-list {
    li {
      background: transparent;
      @include inline-block;
      float: left;
      font-size: 0;
      height: inherit;
      letter-spacing: 7.4vw;
      list-style: none;
      margin-right: 7px;
      text-indent: 0;
      width: 186px;
    }

    &#myList {
      float: left;
      margin-left: 45px;
      overflow: visible;
      padding-left: 0;
      position: relative;
      text-align: left;
      width: 100%;
    }
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: $blk;
  color: $wht;
  font: 2vw 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: right;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  margin: 2.2%;
  div {
    width: 100vw;
    text-align: center;
  }
}

button.download {
  height: 5vh;
  letter-spacing: .1vw;
  margin-left: 0;
  position: relative;
  top: -4vh;
  width: 100%;
}

aside.film-reel {
  background-image: url(MoviesPics/right_reel.gif);
  background-position-x: 48px;
  background-size: contain;
  border-left: $gray solid 1px;
  height: 178px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45vh;
  width: 95%;
}

.logo {
  @include animation(glow 4s cubic-bezier(.45, .05, .55, .95) infinite alternate-reverse);
  background-image: url('cpsharp.png');
  background-size: contain;
  cursor: pointer;
  height: 150px;
  left: 2vw;
  position: absolute;
  top: 2vw;
  width: 150px;
}

.film-reel {
  // @include animation(rollfilm 10s infinite alternate-reverse);
  //background-size: contain;
  //height: 18.5vh;
  //
}

.download {
  content: 'Download';
  cursor: hand;
  font-weight: bold;
  height: 3vh;
  letter-spacing: .2vw;
  line-height: 2vh;
  width: 88%;
  margin: 0 4% 0 0;
  border: 0;

  &:hover {
    background: $cp_yellow;
    border-color: $cp_yellow;
    color: $wht;
  }
}

.front {
  @include translate3d(0, 0, $c-size);
  background: $c-green;
}

.left {
  @include transform(rotateY(-90deg) translate3d(0, 0, $c-size));
  background: $c-purple;
}

.right {
  @include transform(rotateY(90deg) translate3d(0, 0, $c-size));
  background: $c-red;
}

.bottom {
  @include transform(rotateX(-90deg) translate3d(0, 0, $c-size));
  background: $c-lime;
}

.list_container {
  @include opacity(0);
  @include transition(all 1s ease-in-out);

  position: absolute;
  top: -1000px;
  width: 100vw;
  z-index: 100;
}

.be_seen {
  @include opacity(1);
  top: 0;
}